{% extends "base.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section id="page" class="pico">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>
                    {% trans "Password Reset" %}
                    </h2>
	                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
    
                    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                </div>            
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                    <img src="{% static 'images/zdm-rejestracja.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section> <!-- /#signup form -->
{% endblock %}