{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}Doradcy {{ block.super }}{% endblock %}

{% block content%}
         <section id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                                <h2>
                                Doradcy
                                </h2>


                                <p>
                                    {% for profile in profiles %}
                                    <div class="col-md-3 col-sm-6 profile-list-item">
                                    {% if profile.avatar %}
                                    <a href="{% url 'profiles:detail' pk=profile.pk %}">
    									<img src="{{ profile.avatar.url}}" class="img-responsive" alt="{{ profile.user.get_full_name }}" width=300></a>
                                      
                                    
                                	{% else %}
                                    <a href="{% url 'profiles:detail' pk=profile.pk %}">
                                        <img src="{% static 'images/avatar-default.jpg' %}"  class="img-responsive" alt="{{ profile.user.get_full_name }}" width=300>
                                    </a>
                                   
                              		{% endif %}    
										<h3><a href="{% url 'profiles:detail' pk=profile.pk %}">{{ profile.user.get_full_name }}</a></h3>
                                        {% if profile.city %}
                                        <h4> {{ profile.city }}</h4>
                                        {% endif %}
										
                                        <p class="profile-description-list">{{ profile.description|truncatewords_html:22 }}</p>
                                       
                                       
										<a href="{% url 'profiles:detail' pk=profile.pk %}" class="profil-link">Przejź do profilu doradcy</a>
										
									


									</div>


										
										

                                    {% endfor %}
                                </p>
                          
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </section> <!-- /#about -->
{% endblock %}