{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}O Nas {{ block.super }}{% endblock %}

{% block content%}
         <section id="page" class="pico">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 vbottom">
                            <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                                <h2>
                                O nas
                                </h2>
                                
                                <p>
                                    Znajdź mi Dom to innowacyjne rozwiązanie na rynku nieruchomości. Platforma skupia najlepszych pośredników nieruchomości z branży oraz zainteresowanych zakupem mieszkania, lokalu czy działki. Indywidualnie przygotowane oferty to pewność, że znajdziesz dokładnie to, czego szukasz oszczędzając przy tym czas. Indywidualny Dorada pomoże Ci załatwić wszelkie formalności oraz odpowie na każde Twoje pytanie.


                                </p>
                                <p>
                                    Zapomnij o czasochłonnym szukaniu odpowiedniej oferty. Zaufaj nam i przekonaj się, że szukanie nieruchomości jeszcze nigdy nie było tak proste. 
                                 </p>
                                 <p>
                                    Każdy doradca posiada swój profil na którym znajdują się komentarze od Klientów , dzięki czemu masz pewność, że współpracujesz z właściwą osobą. Oceny wystawiane po zakończeniu każdej transakcji to gwarancja jakości i profesjonalizmu.
                                </p>
                            </div>
                            
                        </div><!--
                        --><div class="col-md-6 col-sm-12 vbottom">
                            <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                            <p></p>
                                <img
        border:0;" src="{% static 'images/zdm-doradcy.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section> <!-- /#about -->
{% endblock %}