{% load static from staticfiles %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <!-- Meta -->
        {% include 'meta.html' %}
        <!-- CSS Files -->
        {% include 'css.html' %}
        <!-- JavaScript -->
        {% include 'javascript.html' %}
    </head>
    <body>
        <!-- Header -->
        {% include 'header.html' %}
        <section id="messages">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} ">  <!-- singular -->
                                <a class="close" data-dismiss="alert">×</a>
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                        {% endif %}   
                    </div>
                </div>
            </div>
        </section>                      
        {% block content %}
        {% endblock %}                
        <!-- CTA -->
        <section id="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="block">
                            <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">Szukasz mieszkania, lokalu czy domu?</h1>
                            <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Przeglądanie ofert zabiera Ci sporo czasu, a na koniec i tak musisz zapłacić prowizję dla biura nieruchomości, mimo tego, że sam znalazłeś ofertę. Pośrednik jedynie pokazał Ci nieruchomość, a większość formalności i tak musisz załatwić sam?</p> 

                            <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Znaleźliśmy dla Ciebie lepsze rozwiązanie. Zacznij od końca. Znajdź pośrednika nieruchomości, który przygotuje dla Ciebie najlepsze, indywidualnie dobrane oferty oraz pomoże załatwić wszelkie formalności.</p>
                            <a href="{% url 'contact' %}" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Znajdź mi...</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer id="footer">
            <div class="container">
                <div class="col-md-8">
                    <p class="copyright">&copy; <span>2017</span>    <a href="{% url 'home' %}" >
                        <span style="color: #000">ZNAJDŹ</span><span style="color: #fd5e29">MI</span><span style="color: #000">DOM.</span>
                    </a> Wszelkie prawa zastrzeżone. <a href="{% url 'policy' %}">Polityka prywatności</a> • <a href="{% url 'toc' %}">Regulamin</a>
                </div>
                <div class="col-md-4">
                    <!-- Social Media -->
                    <ul class="social">
                        <li>
                            <a href="#" class="Facebook">
                                <i class="ion-social-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Twitter">
                                <i class="ion-social-twitter"></i>
                            </a>
                        </li>
                        <!--<li>
                            <a href="#" class="Linkedin">
                                <i class="ion-social-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Google Plus">
                                <i class="ion-social-googleplus"></i>
                            </a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </footer>
        {% block extra_body %}
        {% endblock %}  
        <!--<script>
            $(function() {
            $('.block').matchHeight();
            });
        </script>--> 
    </body>
</html>