{% load static from staticfiles %}
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
<title>Idealny Pośrednik</title>
<meta name="description" content="Wybierz doradcę, wypełnij formularz i otrzymaj najlepsze oferty. Tylko profesjonalny doradca zapewni Tobie pewny i bezpieczny zakup nieruchomośći.">
<!-- Mobile Specific Metas -->
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1">