{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}Panel{{ block.super }}{% endblock %}

{% block content%}
         <section id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                                <h2>
                                Panel
                                </h2>
                                {% if user == request.user %}
                                <h3>Witaj {{ user.get_full_name }}  </h3>
                                <p>
									Opis: {{ profile.description}}  
                                  
                                </p>
                                <p>  Miasto:  {{ profile.city }}</p>
                              
                                
                                    <a href="{% url 'profiles:edit' pk=profile.pk%}">Przejdź do edycji profilu ->> </a>
                                
                                {% endif %}


                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </section> <!-- /#about -->
{% endblock %}