{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Polityka prywatności {{ block.super }}{% endblock %}
{% block content%}
<section id="page" class="pico">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>
                    Polityka prywatności serwisu Idealny Pośrednik
                    </h2>
                    <h3>Informacje ogólne.</h3>
                    <p>
                    1. Operatorem Serwisu Idealny Pośrednik jest: CONCA Agnieszka Nowińska
                    <br>
                    2. Serwis realizuje funkcje pozyskiwania informacji o użytkownikach i ich zachowaniu w następujący sposób:<br>
                    &nbsp;&nbsp;a.  Poprzez dobrowolnie wprowadzone w formularzach informacje.<br> 
                    &nbsp;&nbsp;b.  Poprzez zapisywanie w urządzeniach końcowych pliki cookie (tzw. "ciasteczka").
                    </p>
                    <h3> Informacje w formularzach.</h3>
                    <p>
                    1.  Serwis zbiera informacje podane dobrowolnie przez użytkownika.<br>
                    2.  Serwis może zapisać ponadto informacje o parametrach połączenia (oznaczenie czasu, adres IP).<br>
                    3.  Dane w formularzu nie są udostępniane podmiotom trzecim inaczej, niż za zgodą użytkownika.<br>
                    4.  Dane podane w formularzu są przetwarzane w celu wynikającym z funkcji konkretnego formularza, np w celu dokonania procesu obsługi zgłoszenia serwisowego lub kontaktu handlowego.
                    </p>
                    <h3>Informacja o plikach cookies.</h3>
                    <p>
                    1.  Serwis korzysta z plików cookies.<br>
                    2.  Pliki cookies (tzw. „ciasteczka”) stanowią dane informatyczne, w szczególności pliki tekstowe, które przechowywane są w urządzeniu końcowym Użytkownika Serwisu i przeznaczone są do korzystania ze stron internetowych Serwisu. Cookies zazwyczaj zawierają nazwę strony internetowej, z której pochodzą, czas przechowywania ich na urządzeniu końcowym oraz unikalny numer.<br>
                    3.  Podmiotem zamieszczającym na urządzeniu końcowym Użytkownika Serwisu pliki cookies oraz uzyskującym do nich dostęp jest operator Serwisu.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section> 
{% endblock %}