{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}Regulamin {{ block.super }}{% endblock %}

{% block content%}
<section id="page" class="pico">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>
                    Regulamin
                    </h2>
                    
                    <p>
                        Serwis idealnyposrednik.pl jest obecnie dostępny tylko w wersji testowej(wersja beta).
                    <p>
                        Regulamin serwisu będzie dostępny wraz z opublikowaniem wersji finałowej.
                    </p>
                    <p>
                        Operatorem Serwisu Idealny Pośrednik jest: CONCA Agnieszka Nowińska
                    </p>
                    <p>
                        1.  Serwis zbiera informacje podane dobrowolnie przez użytkownika.<br>
                    2.  Serwis może zapisać ponadto informacje o parametrach połączenia (oznaczenie czasu, adres IP).<br>
                    3.  Dane w formularzu nie są udostępniane podmiotom trzecim inaczej, niż za zgodą użytkownika.<br>
                    4.  Dane podane w formularzu są przetwarzane w celu wynikającym z funkcji konkretnego formularza, np w celu dokonania procesu obsługi zgłoszenia serwisowego lub kontaktu handlowego.
                    </p>
                    <p>
                        Kontakt: <a href="mailto:biuro@idealnyposrednik.pl">biuro@idealnyposrednik.pl</a>
                    </p>
                </div>
                
            </div>

        </div>
    </div>
</section> 
{% endblock %}